<%- contentFor('title') %>Home
<%- contentFor('body') %>
<div class="container-fluid">
  <h1>SF Civil Grand Jury</h1>
  <div class="row">
    <div class="col-md-2">
      <form method="GET" action="/reports/unresolved">
        <div class="form-group">
          <select class="form-control" name="year">
            <% for (let report of reports) { %>
            <option<%= year == report.year ? ' selected' : '' %>><%= report.year %></option>
            <% } %>
          </select>
        </div>
      </form>
    </div>
  </div>
  <table class="table">
    <% for (let assignment of assignments) { %>
    <tr>
      <td><%= assignment.recommendation.report.year %></td>
      <td><%= assignment.recommendation.report.title %></td>
      <td><%= assignment.recommendation.code %></td>
      <td><%= assignment.recommendation.content %></td>
      <td><%= assignment.assignee %></td>
      <td>
        <% for (let response of assignment.responses) { %>
          <%= response.year %>:&nbsp;<%= response.normalizedStatus.value %><br />
        <% break;} %>
      </td>
    </tr>
    <% } %>
  </table>
</div>
<script type="text/javascript">
  $('form select').on('change', function() {
    $('form').submit();
  });
</script>
