<%- contentFor('title') %>Home
<%- contentFor('head') %>
<script type="text/javascript">
window.env = {};
window.env.ASSET_HOST = '<%= process.env.ASSET_HOST %>';
</script>
<base href="/">
<%- contentFor('body') %>
<div class="container-fluid">
  <h1>SF Civil Grand Jury</h1>
  <app-home>Loading...</app-home>
  <% for (let entry of ['home']) { %>
    <% for (let chunk of webpackStats.chunks[entry]) { %>
      <script type="application/javascript" src="<%= chunk.publicPath %>"></script>
    <% } %>
  <% } %>
</div>
